button { padding: 2px }
td { vertical-align: top; padding: 5px 15px; line-height:20px; white-space: pre; }
span { width:9px;height:15px;display:inline-block;vertical-align:middle;border:1px solid #ccc;line-height:0; }